

/* Body Classes */
body
  padding-top: 80px;
  font: 12px Helvetica, Arial, sans-serif;




/* Footer Classses */
footer 
    padding-left: 15px; 
    padding-right: 15px; 
    p
        border-top: 1px solid #ccc; 



/* Button Classes */
a.button
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;





/* Main Navigation Classes */
.navbar-header a.navbar-brand 
    margin-top: 0px;
    margin-bottom: 10px; 
    h6 
        color: #ccc; 

.navbar-collapse.collapse > ul
    li 
        margin-top: 10px;
        margin-bottom: 10px;    






/* Navigation Classes */
.navbar-form
    .form-group
        margin-left: 10px; 
    button
        margin-left: 10px;




/* Tastr Display Dialogue Styles */
.toast-top-right 
    top: 80px; 

.toast-success 
    background-color: #13987e;

.toast-fail 
    background-color: red; 




/* Helper Classes */
.top-padding-med 
    padding-top: 10px;

.margin-left-med
    margin-left: 10px;


