body {
  padding-top: 80px;
  font: 12px Helvetica, Arial, sans-serif;
}
a.button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.navbar-header a.navbar-brand {
  margin-top: 0px;
  margin-bottom: 10px;
}
.navbar-header a.navbar-brand h6 {
  color: #ccc;
}
.navbar-collapse.collapse > ul li {
  margin-top: 10px;
  margin-bottom: 10px;
}
footer {
  padding-left: 15px;
  padding-right: 15px;
}
footer p {
  border-top: 1px solid #ccc;
}
.navbar-form .form-group {
  margin-left: 10px;
}
.navbar-form button {
  margin-left: 10px;
}
.toast-top-right {
  top: 80px;
}
.toast-success {
  background-color: #13987e;
}
.toast-fail {
  background-color: #f00;
}
