
.container
    .jumbotron
        h1 MultiVision
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. 


    .row
        .col-md-6
            div(ng-include="'app/main/featured-courses'")
        .col-md-6
            div(ng-include="'app/main/new-courses'")